My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        -64
      ],
      "id": "7fea76a4-8a6a-4ad5-93a5-82722356cb63",
      "name": "Webhook",
      "webhookId": "8ca8fadb-34e0-4b06-8cf1-500647e8b143"
    },
    {
      "parameters": {
        "jsCode": "const message = $json.body.Body.trim();\nconst parts = message.split(\" \");\nreturn [{\n  command: parts[0].toUpperCase(),\n  args: parts.slice(1)\n}];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        -64
      ],
      "id": "7d3dc8b8-63fc-4692-bef9-7bd9240f8c99",
      "name": "Parse Command"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.command}}",
                    "rightValue": "LIST",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "cb2ecab3-2c02-4661-9515-9b683df81fcf"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cda81edf-946a-4347-a34c-f6c7ee2a5aa7",
                    "leftValue": "={{$json.command}}",
                    "rightValue": "DELETE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "32b8d5b1-3fbb-4696-8d06-77a5191888fc",
                    "leftValue": "={{$json[\"mimeType\"]}}",
                    "rightValue": "folder",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "666c0840-a426-4404-8388-5e695ab06fb4",
                    "leftValue": "={{$json.command}}",
                    "rightValue": "SUMMARY",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        336,
        80
      ],
      "id": "b4f999ed-9225-4b24-88d8-01b9fe104a78",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "Internship Task.pdf",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -224,
        96
      ],
      "id": "5aafd08a-c9b4-4187-84ff-a581e851d5cd",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nhx4NIsywolsT3pF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "+917034662123",
        "toWhatsapp": true,
        "message": "Hello, this is a test from n8n!",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        64,
        112
      ],
      "id": "8da8ce49-acb8-4190-87ae-7cdcfae95ba0",
      "name": "Send an SMS/MMS/WhatsApp message",
      "credentials": {
        "twilioApi": {
          "id": "An31REToEXCUhn1B",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        368,
        -64
      ],
      "id": "f91edcee-fbc6-4b4f-8b5c-98a1ed53c282",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "deleteFile",
        "fileId": {
          "__rl": true,
          "value": "={{$node[\"Search files and folders\"].json[\"id\"]}}\n",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        96
      ],
      "id": "5a61dde2-fef2-4136-87ed-fe0005a720a6",
      "name": "Delete a file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nhx4NIsywolsT3pF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{$json[\"id\"]}}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "=1iwbiwT_2iyYyhnSXr6ZVqtLUH73Ini6E",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -288,
        -224
      ],
      "id": "083b8cce-d172-4662-92fb-ebcd7da0dc04",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "nhx4NIsywolsT3pF",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "{{$json[\"mimeType\"]}}",
                    "rightValue": "folder",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    },
                    "id": "99226561-1d9f-4ba6-ab9b-87351cef4ce4"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        256,
        -320
      ],
      "id": "5c6b7b96-1875-4270-bb8c-d053b3d11000",
      "name": "Switch1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "15556bc1-e275-4f84-b385-03b19695a879",
              "leftValue": "={{$json[\"mimeType\"]}}\n",
              "rightValue": "folder\n",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        144
      ],
      "id": "7460bb44-4b6b-4a1b-abba-1083229fa00a",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Command",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete a file",
            "type": "main",
            "index": 0
          },
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send an SMS/MMS/WhatsApp message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "911d097a-e363-4fd8-af44-0a6c15e407dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8c9cccb6b97d6d11f6601cc8c181701ad18cdb124a0ec70cc1f0d90c92ad1b1d"
  },
  "id": "85KoXco8PvN8qgS4",
  "tags": []
}